header {
    // background-color: black;
    padding: 20px;
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    .logoWrapper {
        max-width: 100px;
        // background-color: red;    
        
        img {
            width: 100%;    /* Makes logo fit container */
        }
    }

    .navWrapper {
        display: flex;

        i {
            z-index: 30;
            color: white;
            font-size: 30px;
            align-self: center;
            transition: all 0.3s;
            visibility: hidden;
        }

        i:active {
            font-size: 32px;
            color: #404EED;
        }

        ul {

            li {
                display: inline-block;
                margin: 0 25px;
                

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 32px;
                    font-weight: 400;
                    transition: all .3s;
                }

                a:hover {
                    text-decoration: none;
                    color: #404EED;
                    font-size: 32px;
                }
            }
        }
    }
}

.showNavIcon {
    display: flex !important;
    position: absolute;
    background-color: rgba(46, 41, 41, 0.744);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

@media (max-width: 700px) {

    #navList {
        display: flex;
        align-items: center;
    }
    #nav {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    #nav:first-child {
        margin-top: 250px;
    }
    
    header {
        justify-content: space-between;

        .navWrapper {
            i {
                visibility: visible;
                margin-right: 60px;
            }

            #navList {
                display: none;
                color: black;
                flex-direction: column;
            }
        }
    }
    
}