header {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 40px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.logoWrapper {
    flex: 1;

        img {
            max-width: 100px;
        }
}

.navWrapper {
    flex: 1;
    justify-self: flex-end;
    text-align: center;
    margin-left: 300px;

        ul {
            border-radius: 10px;
            padding: 10px;
            min-width: 10px;
            // border: 1px white solid;
            background-color: #2C2F33;
        }

            ul li {
                padding: 0;
                list-style-type: none;
                display: inline-block;
                margin: 0 40px 0 40px;
                
                a {
                    color: white;
                    font-weight: 600;
                    font-size: 20px;
                    text-decoration: none;
                    transition: color .5s;
                }

                a:hover {
                    color: #404EED;
                }
            }
}