main .mainWrapper {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .mainWrapper h4 {
  margin-left: 38px;
  margin-bottom: 10px;
  color: white;
  line-height: 40px;
  font-weight: 400;
  font-size: 32px;
  font-weight: 400;
  width: 400px;
}

main .mainWrapper h4 .formatted {
  color: #404EED;
  font-weight: 800;
}

main .mainWrapper .joinButton {
  background-color: #404EED;
  padding: 20px 35px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  max-width: 250px;
  border-radius: 5px;
  color: white;
  margin-left: 38px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

main .mainWrapper .joinButton:hover {
  background-color: #5462ff;
  color: #2C2F33;
}

.sectionWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 230px 10px;
  height: 700px;
}

.sectionWrapper .communitySection {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: white;
  margin-right: 10px;
}

.sectionWrapper .communitySection .heading {
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionWrapper .communitySection h4 {
  background-color: #404EED;
  width: 300px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 2px 20px .1px black;
          box-shadow: 3px 2px 20px .1px black;
  padding: 10px;
}

.sectionWrapper .communitySection h4:hover {
  -webkit-box-shadow: 3px 2px 20px 10px black;
          box-shadow: 3px 2px 20px 10px black;
}

.sectionWrapper .communitySection .paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 20px;
  background-color: #2C2F33;
  border-radius: 20px;
  height: initial;
}

.sectionWrapper .communitySection .paragraph .paragraphWrapper {
  margin: 20px 0;
}

.sectionWrapper .AdvertisementSection {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-left: 10px;
  color: white;
}

.sectionWrapper .AdvertisementSection .heading {
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionWrapper .AdvertisementSection h4 {
  background-color: #404EED;
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  -webkit-box-shadow: 3px 2px 20px .1px black;
          box-shadow: 3px 2px 20px .1px black;
}

.sectionWrapper .AdvertisementSection h4:hover {
  -webkit-box-shadow: 3px 2px 20px 10px black;
          box-shadow: 3px 2px 20px 10px black;
}

.sectionWrapper .AdvertisementSection .paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 20px;
  background-color: #2C2F33;
  border-radius: 20px;
  height: initial;
}

.sectionWrapper .AdvertisementSection .paragraph .paragraphWrapper {
  margin: 30px 0;
}

.sectionWrapper hr {
  height: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 800px) {
  .sectionWrapper {
    display: block;
    margin-bottom: 40px;
  }
  .AdvertisementSection {
    margin-top: -160px;
  }
  hr {
    visibility: hidden;
  }
}
/*# sourceMappingURL=main.css.map */